.hero-main-grid {
  margin: 13% auto;
  margin-bottom: 8%;
  max-width: 50%;
  position: relative;
  top: 200px;
  opacity: 0;
  transition: all 0.6s ease-in;
}
.hero-main-grid-animation {
  top: 0;
  opacity: 1;
}
.intro-wrapper {
  max-width: 90%;
}
.anim-text {
  opacity: 0;
  transition: all 0.8s ease-in-out;
}
.fade {
  opacity: 1;
  transform: translateY(0);
}
.bend {
  transform: rotateX(95deg);
  transform-style: preserve-3d;
  opacity: 0;
}
.pad-space {
  margin: 0.1em;
}
.hi-message {
  color: #31e8ff;
  display: block;
  font-family: sfmono;
  padding: 1em;
  margin: 1em;
  margin-bottom: 0;
}
.anim-perspective {
  perspective: 300px;
}
.name {
  display: block;
  color: #ccd6f6;
  height: 100%;
  width: 100%;
  font-size: 3rem;
  /* padding: 1em; */
  margin-left: 0.6em;
}
.anim-perspective span {
  display: inline-block;
  /* opacity: 0; */
  transition: all 0.8s ease-in-out;
}
.small-about {
  max-width: 60%;
  color: #6792b0;
  padding: 10px;
  font-size: 0.9em;
  margin: 1em;
  margin-left: 1.5em;
  margin-top: 0.5em;
}
.contact-btn {
  border: 2px solid #31e8ff;
  background-color: transparent;
  color: #31e8ff;
  width: 180px;
  padding: 20px;
  font-size: 0.8em;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 2.4em;
  margin-top: 1.5em;
  font-family: sfmono;
  outline: none;
}
.contact-btn:hover {
  background-color: #31e7ff36;
}
.contact-btn:focus {
  background-color: #31e8ff;
  color: black;
}
