.navbar-wrapper {
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  background-color: #0e1f3a;
  outline: none;
  box-shadow: 4px 4px 2px 1px rgba(3, 3, 46, 0.2);
  opacity: 0.1;
  transition: all 0.5s ease-in;
}
.navbar-wrapper-animate {
  opacity: 1;
}
.inner-nav-flex {
  color: #fff;
  margin-left: 10px;
  margin-top: 1em;
  font-size: 0.8em;
  font-family: sfmono;
}
.flex-left {
  display: flex;
  justify-content: space-around;
  margin-top: 0.5em;
}
.nav-div {
  display: inline;
  margin-right: 1.8em;
}
.nav-item {
  padding: 10px 20px;
  margin-left: 1.2em;
  cursor: pointer;
  border-radius: 4px;
}
.nav-item:hover {
  color: #31e8ff;
}
.active {
  border: 2px solid #31e8ff;
  border-radius: 4px;
  color: #31e8ff;
}
