*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --height-control: 0;
}
html{scroll-behavior:smooth}
a{
  text-decoration: none;
  color: inherit;
}
@font-face{
  src: url('./assets/fonts/SFMono-Regular-7faa66605357721067fe1b07d9103015.woff2');
  font-family: sfmono;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
